/*==========================================================================

	monorun.com
	
	Author:		Carlos Eriksson, Benjamin Horn
	Project:	monorun.com | Codename Hypothermia
	Repo:		
	Version:	
	
	Created:	2013-05-18
	Updated:	2013-06-07
	
	Usage:

=======================
	
	TABLE OF CONTENT
	
	git.io/normalize | Customised for monorun!
	
    Super Globals
    	Box-sizing, Selection, Transitions
    Font-Face
    Globals
    Headers
    Links
    Tables
    Form
    Social

    Press to play
    Gameitems

    Keyframes

========================================================================== */
/*
	git.io/normalize | Customised for monorun!

======================= */
/*
 * Needs to be scaled back to only include stuff that's used.
 */
section{display:block;}canvas{display:inline-block;}[hidden]{display:none;}html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}img{border:0;}button,input{font-family:inherit;font-size:100%;line-height:normal;margin:0;}button{text-transform:none;}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}

/*
	Super Globals
======================= */
*,
*:before,
*:after {
 	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
}
::-moz-selection {
    background: #0a0e0f;
    color:white;
    text-shadow: none;
}
::selection {
    background: #0a0e0f;
    color:white;
    text-shadow: none;
}
/*
 * Transitions
 */
a,
input {
	-webkit-transition:	background 333ms ease,
						border 333ms ease, color 333ms ease,
						top 333ms ease,
						left 333ms ease,
						border-radius 333ms ease,
						box-shadow 333ms ease;
	-moz-transition:	background 333ms ease,
						border 333ms ease, color 333ms ease,
						top 333ms ease,
						left 333ms ease,
						border-radius 333ms ease,
						box-shadow 333ms ease;
	-ms-transition:		background 333ms ease,
						border 333ms ease, color 333ms ease,
						top 333ms ease,
						left 333ms ease,
						border-radius 333ms ease,
						box-shadow 333ms ease;
	-o-transition:		background 333ms ease,
						border 333ms ease, color 333ms ease,
						top 333ms ease,
						left 333ms ease,
						border-radius 333ms ease,
						box-shadow 333ms ease;
	transition:			background 333ms ease,
						border 333ms ease, color 333ms ease,
						top 333ms ease,
						left 333ms ease,
						border-radius 333ms ease,
						box-shadow 333ms ease;
}
#game {
	-webkit-transition:	width 200ms ease,
						height 200ms ease;
	-moz-transition:	width 200ms ease,
						height 200ms ease;
	-ms-transition:		width 200ms ease,
						height 200ms ease;
	-o-transition:		width 200ms ease,
						height 200ms ease;
	transition:			width 200ms ease,
						height 200ms ease;
}
/*
 * .WOFF for most modern browsers. .SVG for Android.
 * Character scope limited to used characters
 */
@font-face {
    font-family: 'Museo300';
    src: url('../fonts/museo300.woff') format('woff'),
         url('../fonts/museo300.svg#Museo300') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*
	Globals
======================= */
html,
body {width:100%; height:100%;}
html {display:table;}
body {
	font: 16px/1.618 'Consolas', Monaco, 'Courier New', Courier, monospace;
	display:table-cell;
	vertical-align:middle;
	padding:1.618em;
	color:#2B373B;
	background: url(../img/top-left-corner.png) no-repeat left top,
				url(../img/bottom-right-corner.png) no-repeat right bottom white;

}
/*
	Headers
======================= */
h1,
h2,
h3 {
	font:300 1em/1.618 'Museo300',serif;
	text-transform: lowercase;
	margin:0 0 .809em 0;
	color:#2b373b;
}
h1,
h2 {font-size: 2em; color:#56c5db;}
h3 {font-size:1.5em;}

/*
	Links
======================= */
a,
a:visited {
	color:#57c5db;
}
a:hover,
a:focus,
a:active {
	color:#161b1d;
}
section {
	margin:0 auto;
	text-align:center;
	width:100%;
	max-width:26em;
}
p {
	margin:0 0 1.618em 0;
}
small {
	font-size:.75em;
	color: #666;
}
img {
	vertical-align: middle;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dotted #6c8892;
    margin: 1.618em auto;
    padding: 0;
}

.score {
	font-size:1.25em;
	color: #57c5db;
}
/*
	Tables
======================= */
table {
	width:100%;
	table-layout:fixed;
	font-size: inherit;
	margin:0 0 1.618em 0;
}
thead {
	font-weight:700;
	color:#57c5db;}
td {
	width: 30%;
	text-align: left;
	color: #666;
}
td:nth-child(2n) {
	width:40%;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
td:nth-child(3n) {text-align:right;}

.highlight td {color:#1faedf;}


/*
	Form
======================= */
label {position: absolute; font:0/0 a;}
input {
	border:1px solid silver;
	text-align: center;
	color:#0a0e0f;
	padding:.4045em 1.618em;
	margin:.4045em 0 0;
}
/*
 * All placeholder statements must be separate
 */
::-webkit-input-placeholder {
   color: #1faedf;
   opacity:1;
}
:-moz-placeholder {
   color: #1faedf;
   opacity:1; 
}
::-moz-placeholder {
   color: #1faedf;
   opacity:1;
}
:-ms-input-placeholder {  
   color: #1faedf;
   opacity:1; 
}
input:focus::-webkit-input-placeholder {
   color: #b6c4c9;
   opacity:1;
}
input:focus:-moz-placeholder {
   color: #b6c4c9;
   opacity:1; 
}
input:focus::-moz-placeholder {
   color: #b6c4c9;
   opacity:1;
}
input:focus:-ms-input-placeholder {  
   color: #b6c4c9;
   opacity:1; 
}
input:hover,
input:focus,
input:active {
	border-color:#6c8892;
	outline:none;
}
input:focus {
	box-shadow:	2px 2px 0 #20AFDF,
				-2px 2px 0 #20AFDF;
}

.btn,
.btn:visited {
	font:300 16px/1.618 'Museo300',sans-serif;
	text-transform: lowercase;
	display:inline-block;
	padding:.4045em 1.618em;
	margin:0 .809em .809em 0;
	background: #57c5db;
	color:white;
	text-decoration: none;
	border:0;
}
.btn:hover,
.btn:focus,
.btn:active {
	background:#364649;
	color:white;
	cursor:pointer;
}
/*
	State
======================= */
.is-saving {
	background-image:url(../img/loading.gif);
	background-repeat: no-repeat;
	background-position: 92% 25%;}
/*
	Social
======================= */
.facebook,
.twitter {
	text-transform: none;
}
.facebook, .facebook:visited {background:#3a5897;}
.twitter, .twitter:visited {background:#28aae1;}
.facebook:hover,
.facebook:focus,
.facebook:active,
.twitter:hover,
.twitter:focus,
.twitter:active {
	background:#364649;
}
/*
	Press to play
======================= */
.fade-in-and-down {
	position: relative;
	opacity:0;
	
 	-webkit-animation:	fadeInDown 1000ms ease 1000ms 1 normal forwards;
	-moz-animation:		fadeInDown 1000ms ease 1000ms 1 normal forwards;
	-ms-animation:		fadeInDown 1000ms ease 1000ms 1 normal forwards;
	-o-animation:		fadeInDown 1000ms ease 1000ms 1 normal forwards;
	animation:			fadeInDown 1000ms ease 1000ms 1 normal forwards; 
}
/*
	Keyframes
======================= */
@-webkit-keyframes fadeInDown {
	0%		{
		opacity:0;
		-webkit-transform: translateY(-1.5em);
	}
	100%	{
		opacity:1;
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes fadeInDown {
	0%		{
		opacity:0;
		-moz-transform: translateY(-1.5em);
	}
	100%	{
		opacity:1;
		-moz-transform: translateY(0);
	}
}
@-moz-keyframes fadeInDown {
	0%		{
		opacity:0;
		-ms-transform: translateY(-1.5em);
	}
	100%	{
		opacity:1;
		-ms-transform: translateY(0);
	}
}
@-o-keyframes fadeInDown {
	0%		{
		opacity:0;
		-o-transform: translateY(-1.5em);
	}
	100%	{
		opacity:1;
		-o-transform: translateY(0);
	}
}
@keyframes fadeInDown {
	0%		{
		opacity:0;
		transform: translateY(-1.5em);
	}
	100%	{
		opacity:1;
		transform: translateY(0);
	}
}
/*
	Game items
======================= */
#game {
	display:none;
	position:fixed;
	background:#161b1e;
	/* Windows phone no-scroll */
	-ms-touch-action: none;
	z-index:1;
}
#game.normal {
	position:fixed;
	display:block;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	height:100% !important;
}
#game.gameover {
	position:fixed;
	display:block;
	top:50%;
	left:50%;
	width:0;
	height:0;
}

/*
	Screen sections
======================= */
#submit-score-screen, #high-score-screen {
	display:none;
}