* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	color:#161b1d;
	background: #fff;
	font-family:arial, verdana;
}

#timer {
	font-size:40px;
	font-weight:bold;
	display:block;
	top:0;
	left:0;
	position:absolute;
}

#game {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#message {
	width:200px;
	min-height:100px;
	background:#57c5db;
	line-height:1.5;
	padding:20px 0 20px 0;
	border:5px solid #fff;
	text-align:center;
	position:fixed;
	color:#fff;
	top:50%;
	left:50%;
	margin-left:-100px;
	margin-top:-50px;
	box-shadow:0px 0px 0px 10px #57c5db;
}